.body {
  max-width: 1200px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
}

.content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin-top: 20px;
}

.title {
  font-size: 20px;
  font-style: italic;
}

.title__name {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.terms-of-delivery {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  padding: 0;
}

.terms-of-delivery__element {
  margin: 0 0 5px 10px;
  font-size: 16px;
  font-weight: normal;
}

.photo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 95%;
  margin-top: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.image {
  border-radius: 30px;
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
  height: 250px;
}  

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; 
}

.popup.popup_is-opened {
  display: flex;
}

@media screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin-top: 20px;
 }

  .title {
  margin-bottom: 0;
  }

  .image {
    border-radius: 20px;
    object-fit: cover;
    object-position: 0 0;
    width: 100%;
    height: 150px;
  }  
  
}